{% extends "analytics/base.html" %}
{% load humanize %}
{% load sec num macro mathfilters %}
{% loadmacros "analytics/macros.html" %}

{% block title %}{{ byline.first_name }} {{ byline.last_name }}{% endblock %}
{% block pagenav %}
    {% regroup articles by date|date:"Y-m-d" as articles_by_day %}
    <li><a href="#overview">Overview</a></li>
    <li><a href="#rollups">Rollups</a></li>
    <li><a href="#weekly">Weekly</a></li>
    <li><a href="#monthly">Monthly</a></li>
    <li><a href="#stories">Stories</a></li>
{% endblock %}
{% block content %}


    <div class="row section">
        <h1 id="overview" class="page-header clearfix">
            {% include "analytics/menu-button.html" %}
            <span class="">{{ byline.first_name }} {{ byline.last_name }}</span>
            <span class="pull-right text-muted hidden-xs"><small>{% now "DATE_FORMAT" %}</small></span>
        </h1>
        <div class="row">
            <div class="col-xs-4 col-sm-3 big-stat">
                {% usemacro four_up_well
                    totals.total.avg_v|floatformat:0|intcomma|or:"---"
                    ratios.total.avg_v
                    totals.day.avg_v|floatformat:0|intcomma|or:"---"
                    ratios.day.avg_v
                    label="Avg Visits" %}
            </div>
            <div class="col-xs-4 col-sm-3 big-stat">
                {% usemacro four_up_well
                    ratios.total_local.avg_v|mul:100|percent|or:"---"
                    ratios.total_local.r_avg_v
                    ratios.day_local.avg_v|mul:100|percent|or:"---"
                    ratios.day_local.r_avg_v
                    label="% Local Visits" %}
            </div>
            <div class="col-xs-4 col-sm-3 big-stat">
                {% usemacro four_up_well
                    totals.total.avg_pv|floatformat:0|intcomma|or:"---"
                    ratios.total.avg_pv
                    totals.day.avg_pv|floatformat:0|intcomma|or:"---"
                    ratios.day.avg_pv
                    label="Avg Views" %}
            </div>
            <div class="col-xs-4 col-sm-3 big-stat">
                {% usemacro four_up_well
                    totals.total.avg_top|floatformat:"0"|formatSeconds|or:"---"
                    ratios.total.avg_top
                    totals.day.avg_top|floatformat:"0"|formatSeconds|or:"---"
                    ratios.day.avg_top
                    label="Avg Time on Page" %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="calendar"></div>
        </div>
    </div>

<script>

        var cal = new CalHeatMap();
        cal.init({
            itemSelector: "#calendar",
            domain: "month",
            subDomain: "x_day",
            data: {{ histograms.count }},
            start: (new Date()).setMonth((new Date()).getMonth() - 5),
            highlight: ["now"],
            // weekStartOnMonday: false,
            domainDynamicDimension: false,
            cellSize: 24,
            cellPadding: 0,
            domainGutter: 20,
            range: 6,
            tooltip: true,
            domainLabelFormat: function(date) {
                moment.lang("en");
                return moment(date).format("MMMM").toUpperCase();
            },
            subDomainTextFormat: "%d",
            legend: [0,1,2,3,4,5,6,7,8,9,10],
            displayLegend: false,
            onClick: function(date, nb) {
                window.location = '/stories/' + moment(date).format("YYYY/MM/DD") + '/'
            }
        });

    </script>
    <div class="row section">
        <h1 id="rollups" class="page-header">Rollups</h1>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Segment</th>
                    <th class="num">Stories</th>
                    <th class="num">Visits</th>
                    <th class="num">Local Visits</th>
                    <th class="num">Views</th>
                    <th class="num"><span class="glyphicon glyphicon-time"></span> Visit</th>
                </tr>
            </thead>
            {% for v in rollups|dictsort:'delta' %}
            <tr>
                <td>Past {{ v.delta }} days</td>
                <td class="num">{{ v.sums.count|intcomma|or:"---" }}</td>
                <td class="num">{{ v.sums.t_v|intcomma|or:"---" }}</td>
                <td class="num">{{ v.day_local.avg_v|div:v.day.avg_v|mul:100|percent|or:"---" }}</td>
                <td class="num">{{ v.sums.t_pv|intcomma|or:"---" }}</td>
                <td class="num">{{ v.total.avg_top|formatSeconds|or:"---" }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row section">
        <h1 id="weekly" class="page-header">Weekly Stats</h1>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Week of</th>
                    <th class="num">Stories</th>
                    <th class="num">Visits</th>
                    <th class="num">Views</th>
                    <th class="num"><span class="glyphicon glyphicon-time"></span> Visit</th>
                </tr>
            </thead>
            {% for week in by_week %}
            <tr>
                <td>{{ week.week_start|date:"M jS"}} - {{ week.week_end|date:"M jS"}}</td>
                <td class="num">{{ week.count|intcomma }}</td>
                <td class="num">{{ week.v|intcomma }}</td>
                <td class="num">{{ week.pv|intcomma }}</td>
                <td class="num">{{ week.avg_top|floatformat:"0"|formatSeconds|or:"---" }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row section">
        <h1 id="monthly" class="page-header">Monthly Stats</h1>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Month</th>
                    <th class="num">Stories</th>
                    <th class="num">Visits</th>
                    <th class="num">Views</th>
                    <th class="num"><span class="glyphicon glyphicon-time"></span> Visit</th>
                </tr>
            </thead>
            {% for month in by_month %}
            <tr>
                <td>{{ month.month|date:"M Y"}}</td>
                <td class="num">{{ month.count|intcomma }}</td>
                <td class="num">{{ month.v|intcomma }}</td>
                <td class="num">{{ month.pv|intcomma }}</td>
                <td class="num">{{ month.avg_top|floatformat:"0"|formatSeconds|or:"---" }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
    
    {% regroup articles by date|date:"Y-m-d" as articles_by_day %}
    <div class="row section">
        <h1 id="stories" class="page-header">Stories</h1>
        <table class="table table-accordion table-sortable table-responsive">
        <thead>
            <tr>
                <th class="icon"></th>
                <th class="icon sort" name="count">#</th>
                <th></th>
                <th></th>
                <th class="num sort" name="visits">Visits <small class="text-muted">(%)</small></th>
                <th class="num sort" name="pageviews">Views <small class="text-muted">(%)</small></th>
                <th class="num sort" name="time"><span class="glyphicon glyphicon-time"></span> Visit</th>
            </tr>
        </thead>
        {% for group in articles_by_day %}
        <tbody>
            <tr class="accordion">
                <td class="icon"></td>
                <td class="icon" name="count"><span class="badge">{{ group.list|length }}</span></td>
                <td class="handle" data-toggle="collapse" href="#collapse{{ group.list.0.date|date|slugify }}">{{ group.list.0.date|date }}</td>
                <td></td>
                <td class="num" name="visits">{{ group.total_visits|intcomma|or:"---" }} <small class="text-muted">({{ group.percent_total_visits|floatformat:2|or:"---" }})</small></td>
                <td class="num" name="pageviews">{{ group.total_pageviews|intcomma|or:"---" }} <small class="text-muted">({{ group.percent_total_pageviews|floatformat:2|or:"---" }})</small></td>
                <td class="num" name="time">{{ group.avg_time_on_page|formatSeconds|or:"---" }}</td>
            </tr>
            {% for article in group.list %}
            <tr{% if article.status.name == "Don't Display" %} class="danger"{% endif %}>
                <td class="icon"><a href="{{ EDIT_URL }}{{ article.id }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td class="icon"><a href="http://www.ocregister.com/articles/-{{ article.id }}--.html"><span class="glyphicon glyphicon-globe"></span></a></td>
                <td>{{ article.headline }}</td>
                <td>{{ article.byline.name }}</td>
                <td class="num">{{ article.stats_total.visits|intcomma|or:"---" }} <small class="text-muted">---</small></td>
                <td class="num">{{ article.stats_total.pageviews|intcomma|or:"---" }} <small class="text-muted">---</small></td>
                <td class="num">{{ article.stats_total.time_on_page|formatSeconds|or:"---" }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
        </table>
    </div>
{% endblock %}