{% extends "analytics/base.html" %}
{% load humanize %}
{% load sec num macro mathfilters %}
{% loadmacros "analytics/macros.html" %}

{% block title %}{{ today|date:"M j, Y" }} daily analysis{% endblock %}
{% block pagenav %}
    <li><a href="#overview">Overview</a></li>
    <li><a href="#bylines">Bylines</a></li>
    <li><a href="#sections">Sections</a></li>
    <li><a href="#unvisited">Unvisited</a></li>
{% endblock %}
{% block content %}
    {% regroup object_list|dictsort:"category_id" by category as category_list %}

    <div class="row section">
        <h1 id="overview" class="page-header clearfix">
            {% include "analytics/menu-button.html" %}
            <span class="hidden-xs">Daily Analysis</span>
            <span class="pull-right text-muted visible-print"><small>{{ today|date:"M j, Y" }}</small></span>
            <div class="btn-group pull-right hidden-print">
                <a class="btn btn-primary" role="button" href="/stories/{{ yesterday|date:"Y/m/d" }}/">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
                <button type="button" class="btn btn-primary">{{ today|date:"M j, Y" }}</button>
                <a class="btn btn-primary" role="button" href="/stories/{{ tomorrow|date:"Y/m/d" }}/">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </div>
        </h1>
        <div class="row">
        <div class="col-xs-4 col-sm-3 big-stat">
          <div class="well big-stat-box">
              <h1 class="num">{{ totals.sums.count }}</h1>
              <span class="text-muted well-label">Total Stories</span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-3 big-stat">
            <div class="well big-stat-box">
          <h1 class="num">{{ unused|length }}</h1>
          <span class="text-muted well-label">Unvisited Stories</span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-3 big-stat">
        <div class="well big-stat-box">
          <h1 class="num">{{ sections.count }}</h1>
          <span class="text-muted well-label">Sections</span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-3 big-stat">
        <div class="well big-stat-box">
          <h1 class="num">{{ bylines.count }}</h1>
          <span class="text-muted well-label">Bylines</span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-3 big-stat">
            {% usemacro four_up_well
                totals.total.v|intcomma|or:"---"
                999
                totals.day.v|intcomma|or:"---"
                999
                label="Visits" %}
        </div>
        <div class="col-xs-4 col-sm-3 big-stat">
            {% usemacro four_up_well
                totals.total_local.v|mul:100|div:totals.total.v|percent|or:"---"
                999
                totals.day_local.v|mul:100|div:totals.day.v|percent|or:"---"
                999
                label="Local Visits" %}
        </div>
        <div class="col-xs-4 col-sm-3 big-stat">
            {% usemacro four_up_well
                totals.total.pv|intcomma|or:"---"
                999
                totals.day.pv|intcomma|or:"---"
                999
                label="Views" %}
        </div>
        <div class="col-xs-4 col-sm-3 big-stat">
            {% usemacro four_up_well
                totals.total.avg_top|floatformat:"0"|formatSeconds|or:"---"
                999
                totals.day.avg_top|floatformat:"0"|formatSeconds|or:"---"
                999
                label="Avg Time on Page" %}
        </div>
        </div>
    </div>
    
    <div class="row section">
        <h1 id="bylines" class="page-header">Bylines</h1>
        <table class="table table-accordion table-sortable table-responsive table-accordion">
        <thead>
            <tr>
                <th class="icon"></th>
                <th class="icon sort" name="count">#</th>
                <th></th>
                <th></th>
                <th class="num sort" name="visits">Visits</th>
                <th class="num sort buddy" name="p_visits"><small class="text-muted tt" data-toggle="tooltip" title="Percentage of the day's visits">(%)</small></th>
                <th class="num sort buddy" name="local"><small class="text-muted"><span class="glyphicon glyphicon-map-marker tt" data-toggle="tooltip" title="Percentage of the views that came from the local DMA"></span></small></th>
                <th class="num sort" name="pageviews">Views</th>
                <th class="num sort buddy" name="pageviews"><small class="text-muted tt" data-toggle="tooltip" title="Percentage of the day's views">(%)</small></th>
                <th class="num sort" name="time"><span class="glyphicon glyphicon-time"></span> Visit</th>
            </tr>
        </thead>
        {% for group in bylines.list %}
        
        <tbody>
            <tr class="accordion">
                <td class="icon"><a href="/bylines/{{ group.byline.id }}/"><span class="glyphicon glyphicon-align-left"></span></a></td>
                <td class="icon" name="count"><span class="badge">{{ group.totals.count }}</span></td>
                <td class="handle" data-toggle="collapse" href="#collapse{{ byline|slugify }}">{{ group.byline }}</td>
                <td></td>
                <td class="num" name="visits">{{ group.totals.day.v|intcomma|or:"---" }}</td>
                <td class="num buddy" name="p_visits"><small class="text-muted">({{ group.totals.day.v|div:totals.day.v|mul:100|floatformat:1|or:"---" }})</small></td>
                <td class="num buddy" name="local"><small class="text-muted">{% if group.totals.day.v %}{{ group.totals.day_local.v|div:group.totals.day.v|mul:100|percent|or:"---" }}{% else %}---{% endif %}</small></td>
                <td class="num" name="pageviews">{{ group.totals.day.pv|intcomma|or:"---" }}</td>
                <td class="num buddy" name="p_pageviews"><small class="text-muted">({{ group.totals.day.pv|div:totals.day.pv|mul:100|floatformat:1|or:"---" }})</small></td>
                <td class="num" name="time">{{ group.totals.day.avg_top|formatSeconds|or:"---" }}</td>
            </tr>
            {% for article in group.group %}
            <tr{% if article.status.name == "Don't Display" %} class="danger"{% endif %}>
                <td class="icon"><a href="{{ article.edit_url }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td class="icon"><a href="{{ article.view_url }}"><span class="glyphicon glyphicon-globe"></span></a></td>
                <td>{{ article.headline }}</td>
                <td>{{ article.category.name }}</td>
                <td class="num">{{ article.stats_day.visits|intcomma|or:"---" }}</td>
                <td class="num buddy"><small class="text-muted">({{ article.stats_day.visits|div:totals.day.v|mul:100|floatformat:1|or:"---" }})</small></td>
                <td class="num buddy"><small class="text-muted">{% if article.stats_day %}{{ article.stats_day_local.visits|div:article.stats_day.visits|mul:100|percent|or:"---" }}{% else %}---{% endif %}</small></td>
                <td class="num">{{ article.stats_day.pageviews|intcomma|or:"---" }}</td>
                <td class="num buddy"><small class="text-muted">({{ article.stats_day.pageviews|div:totals.day.pv|mul:100|floatformat:1|or:"---" }})</small></td>
                <td class="num">{{ article.stats_day.time_on_page|formatSeconds|or:"---" }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
        </table>
    </div>

    <div class="row section">
        <h1 id="sections" class="page-header">Sections</h1>
        <table class="table table-accordion table-sortable table-responsive">
        <thead>
            <tr>
                <th class="icon"></th>
                <th class="icon sort" name="count">#</th>
                <th></th>
                <th></th>
                <th class="num sort" name="visits">Visits</th>
                <th class="num sort buddy" name="p_visits"><small class="text-muted tt" data-toggle="tooltip" title="Percentage of the day's visits">(%)</small></th>
                <th class="num sort buddy" name="local"><small class="text-muted"><span class="glyphicon glyphicon-map-marker tt" data-toggle="tooltip" title="Percentage of the views that came from the local DMA"></span></small></th>
                <th class="num sort" name="pageviews">Views</th>
                <th class="num sort buddy" name="pageviews"><small class="text-muted tt" data-toggle="tooltip" title="Percentage of the day's views">(%)</small></th>
                <th class="num sort" name="time"><span class="glyphicon glyphicon-time"></span> Visit</th>
            </tr>
        </thead>
        {% for group in sections.list %}
        <tbody>

            <tr class="accordion">
                <td class="icon"></td>
                <td class="icon" name="count"><span class="badge">{{ group.totals.count }}</span></td>
                <td class="handle" data-toggle="collapse" href="#collapse{{ category|slugify }}">{{ group.category.name }}</td>
                <td></td>
                <td class="num" name="visits">{{ group.totals.day.v|intcomma|or:"---" }}</td>
                <td class="num buddy" name="p_visits"><small class="text-muted">({{ group.totals.day.v|div:totals.day.v|mul:100|floatformat:1|or:"---" }})</small></td>
                <td class="num buddy" name="local"><small class="text-muted">{% if group.totals.day.v %}{{ group.totals.day_local.v|div:group.totals.day.v|mul:100|percent|or:"---" }}{% else %}---{% endif %}</small></td>
                <td class="num" name="pageviews">{{ group.totals.day.pv|intcomma|or:"---" }}</td>
                <td class="num buddy" name="p_pageviews"><small class="text-muted">({{ group.totals.day.pv|div:totals.day.pv|mul:100|floatformat:1|or:"---" }})</small></td>
                <td class="num" name="time">{{ group.totals.day.avg_top|formatSeconds|or:"---" }}</td>
            </tr>

            {% for article in group.group %}
            <tr{% if article.status.name == "Don't Display" %} class="danger"{% endif %}>
                <td class="icon"><a href="{{ article.edit_url }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td class="icon"><a href="{{ article.view_url }}"><span class="glyphicon glyphicon-globe"></span></a></td>
                <td>{{ article.headline }}</td>
                <td>{{ article.byline.name }}</td>
                <td class="num">{{ article.stats_day.visits|intcomma|or:"---" }}</td>
                <td class="num buddy"><small class="text-muted">({{ article.stats_day.visits|div:totals.day.v|mul:100|floatformat:1|or:"---" }})</small></td>
                <td class="num buddy"><small class="text-muted">{% if article.stats_day %}{{ article.stats_day_local.visits|div:article.stats_day.visits|mul:100|percent|or:"---" }}{% else %}---{% endif %}</small></td>
                <td class="num">{{ article.stats_day.pageviews|intcomma|or:"---" }}</td>
                <td class="num buddy"><small class="text-muted">({{ article.stats_day.pageviews|div:totals.day.pv|mul:100|floatformat:1|or:"---" }})</small></td>
                <td class="num">{{ article.stats_day.time_on_page|formatSeconds|or:"---" }}</td>
            </tr>
            {% endfor %}

        </tbody>
        {% endfor %}

        </table>
    </div>

    <div class="row section">
        <h1 id="unvisited" class="page-header">Unvisited</h1>
        <div class="alert alert-warning">
            <strong>Notice!</strong> These stories were not found in the analytics report for the day of <strong>{{ today|date:"M j, Y" }}</strong>.
        </div>
        <table class="table table-outside table-responsive">
            <thead>
                <tr>
                    <th class="icon"></th>
                    <th class="icon"></th>
                    <th>Headline</th>
                    <th>Section</th>
                    <th class="num"><span class="glyphicon glyphicon-time"></span> Pub</th>
                </tr>
            </thead>
            {% for article in unused %}
            <tr{% if article.status.name == "Don't Display" %} class="danger"{% endif %}>
                <td class="icon"><a href="{{ EDIT_URL }}{{ article.id }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td class="icon"><a href="http://www.ocregister.com/articles/-{{ article.id }}--.html"><span class="glyphicon glyphicon-globe"></span></a></td>
                <td>{{ article.headline }}</td>
                <td>{{ article.category.name }}</td>
                <td class="num">{{ article.date|time:"H:i" }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}