{% extends "analytics/base.html" %}
{% load humanize %}
{% load sec num macro mathfilters %}
{% loadmacros "analytics/macros.html" %}

{% block title %}Stories{% endblock %}
{% block pagenav %}
    <li><a href="#overview">Overview</a></li>
    <li><a href="#weekly">Weekly</a></li>
    <li><a href="#monthly">Monthly</a></li>
{% endblock %}
{% block content %}

    <div class="row section">
        <h1 id="overview" class="page-header clearfix">
            {% include "analytics/menu-button.html" %}
            <span class="hidden-xs">Stories</span>
            <span class="pull-right text-muted"><small>{% now "DATE_FORMAT" %}</small></span>
        </h1>
        <div class="row">
            <!-- <div class="col-xs-4 col-sm-3 big-stat">
                <div class="well big-stat-box">
                    <h1 class="num big">{{ totals.count|intcomma|or:"---" }}</h1>
                    <span class="text-muted">Total Stories Analyzed</span>
                </div>
            </div> -->
            <div class="col-xs-4 col-sm-3 big-stat">
                {% usemacro four_up_well
                totals.total.avg_v|intcomma|or:"---"
                999
                totals.day.avg_v|intcomma|or:"---"
                999
                label="Avg Visits" %}
            </div>
            <div class="col-xs-4 col-sm-3 big-stat">
                {% usemacro four_up_well
                totals.total_local.avg_v|mul:100|div:totals.total.avg_v|percent|or:"---"
                999
                totals.day_local.avg_v|mul:100|div:totals.day.avg_v|percent|or:"---"
                999
                label="Local Visits" %}
            </div>
            <div class="col-xs-4 col-sm-3 big-stat">
                {% usemacro four_up_well
                totals.total.avg_pv|intcomma|or:"---"
                999
                totals.day.avg_pv|intcomma|or:"---"
                999
                label="Avg Visits" %}
            </div>
            <div class="col-xs-4 col-sm-3 big-stat">
                {% usemacro four_up_well
                totals.total.avg_top|floatformat:"0"|formatSeconds|or:"---"
                999
                totals.day.avg_top|floatformat:"0"|formatSeconds|or:"---"
                999
                label="Avg Time on Page" %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="year-chart" ><svg style="height:200px;"></svg></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="calendar"></div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="text-align:center;">
                <div class="btn-group hidden-print" data-toggle="buttons">
                    <button id="calPrev" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-arrow-left"></span></button>
                    <label class="btn btn-primary btn-sm active" onClick="cal.setLegend([0, 50, 75, 100, 125, 150, 175, 200]);cal.update({{ histograms.count }});">
                        <input type="radio" name="options">Count</input>
                    </label>
                    <label class="btn btn-primary btn-sm" onClick="cal.setLegend([0, 12500, 25000, 37500, 50000, 62500, 75000, 87500, 100000]);cal.update({{ histograms.v }});">
                        <input type="radio" name="options">Visits</input>
                    </label>
                    <label class="btn btn-primary btn-sm" onClick="cal.setLegend([0, 12500, 25000, 37500, 50000, 62500, 75000, 87500, 100000]);cal.update({{ histograms.pv }});">
                        <input type="radio" name="options">Views</input>
                    </label>
                    <button id="calNext" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-arrow-right"></span></button>
                </div>
            </div>
        </div>
        <!-- <div class="col-xs-12" id="calendar2"></div> -->
    </div>
    <div class="row section">
        <h1 id="weekly" class="page-header">Weekly Stats</h1>
        <table class="table table-outside table-responsive">
            <thead>
                <tr>
                    <th>Week of</th>
                    <th class="num">Stories</th>
                    <th class="num" name="visits">Visits</th>
                    <th class="num buddy" name="local"><small class="text-muted"><span class="glyphicon glyphicon-map-marker tt" data-toggle="tooltip" title="Percentage of the views that came from the local DMA"></span></small></th>
                    <th class="num" name="time"><span class="glyphicon glyphicon-time"></span> Visit</th>
                </tr>
            </thead>
            {% for week in by_week %}
            <tr>
                <td>{{ week.week_start|date:"M jS"}} - {{ week.week_end|date:"M jS"}}</td>
                <td class="num">{{ week.count|intcomma }}</td>
                <td class="num" name="visits">{{ week.t_v|intcomma|or:"---" }}</td>
                <td class="num buddy" name="local"><small class="text-muted">{{ week.t_l_v|div:week.t_v|mul:100|percent|or:"---" }}</small></td>
                <td class="num" name="time">{{ week.avg_top|formatSeconds|or:"---" }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row section">
        <h1 id="monthly" class="page-header">Monthly Stats</h1>
        <table class="table table-outside table-responsive">
            <thead>
                <tr>
                    <th>Month</th>
                    <th class="num">Stories</th>
                    <th class="num" name="visits">Visits</th>
                    <th class="num buddy" name="local"><small class="text-muted"><span class="glyphicon glyphicon-map-marker tt" data-toggle="tooltip" title="Percentage of the views that came from the local DMA"></span></small></th>
                    <th class="num" name="time"><span class="glyphicon glyphicon-time"></span> Visit</th>
                </tr>
            </thead>
            {% for month in by_month %}
            <tr>
                <td>{{ month.month|date:"M Y"}}</td>
                <td class="num">{{ month.count|intcomma }}</td>
                <td class="num" name="visits">{{ month.t_v|intcomma|or:"---" }}</td>
                <td class="num buddy" name="local"><small class="text-muted">{{ month.t_l_v|div:month.t_v|mul:100|percent|or:"---" }}</small></td>
                <td class="num" name="time">{{ month.avg_top|formatSeconds|or:"---" }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <script>
        jQuery(document).ready(function($) {
            nv.addGraph(function() {
              var chart = nv.models.lineChart()
                .interpolate("cardinal")   
                .x(function(d) { return d[0] })
                .y(function(d) { return d[1] })
                .useInteractiveGuideline(true)
                ;

              chart.xAxis
                  .showMaxMin(false)
                  .tickFormat(function(d) { return d3.time.format('%x')(new Date(d)) });
              chart.yAxis
                  .tickFormat( d3.format('s') );

              d3.select('#year-chart svg')
                .datum([{
                    'values': [{% for x, y in histograms.v.items %}[{{x}}000, {{y}}]{% if not forloop.last %},{% endif %}{% endfor %}].sort(function(a,b){return +a[0] -b[0]}),
                    'key': 'Visits'
                },{
                    'values': [{% for x, y in histograms.pv.items %}[{{x}}000, {{y}}]{% if not forloop.last %},{% endif %}{% endfor %}].sort(function(a,b){return +a[0] -b[0]}),
                    'key': 'Views',
                    'color': '#ff7f0e'
                }])
                .transition().duration(500)
                .call(chart)
                ;

              nv.utils.windowResize(chart.update);

              return chart;
            });
            
        });

        var cal = new CalHeatMap();
        cal.init({
            itemSelector: "#calendar",
            itemName: ['story', 'stories'],
            domain: "month",
            subDomain: "x_day",
            data: {{ histograms.count }},
            start: (new Date()).setMonth((new Date()).getMonth() - 5),
            highlight: ["now"],
            // weekStartOnMonday: false,
            domainDynamicDimension: false,
            cellSize: 24,
            cellPadding: 0,
            domainGutter: 20,
            range: 6,
            tooltip: true,
            domainLabelFormat: function(date) {
                moment.lang("en");
                return moment(date).format("MMMM YYYY").toUpperCase();
            },
            subDomainTextFormat: "%d",
            legend: [0, 50, 75, 100, 125, 150, 175, 200],
            displayLegend: false,
            onClick: function(date, nb) {
                window.location = '/stories/' + moment(date).format("YYYY/MM/DD") + '/'
            },
            previousSelector: '#calPrev',
            nextSelector: '#calNext'
        });

        // var cal2 = new CalHeatMap();
        // cal2.init({
        //     itemSelector: "#calendar2",
        //     domain: "month",
        //     subDomain: "x_week",
        //     data: {{ by_week }},
        //     start: (new Date()).setMonth((new Date()).getMonth() - 5),
        //     highlight: ["now"],
        //     // weekStartOnMonday: false,
        //     // verticalOrientation: true,
        //     domainDynamicDimension: false,
        //     cellSize: 24,
        //     cellPadding: 0,
        //     domainGutter: 150,
        //     range: 6,
        //     domainLabelFormat: function(date) {
        //         // console.log(cal2.options.data, date)
        //         moment.lang("en");
        //         return moment(date).format("MMMM YYYY").toUpperCase();
        //     },
        //     subDomainTextFormat: "%W",
        //     legend: [0, 50, 75, 100, 125, 150, 175, 200],
        //     onClick: function(date, nb) {
        //         window.location = '/stories/' + moment(date).format("YYYY/MM/DD") + '/'
        //     }
        // });

    </script>
{% endblock %}