{% extends "analytics/base.html" %}
{% load humanize %}
{% load sec num %}

{% block title %}Sections{% endblock %}
{% block pagenav %}
    <li><a href="#overview">Overview</a></li>
    <li><a href="#bylines">Bylines</a></li>
    <li><a href="#sections">Sections</a></li>
    <li><a href="#unvisited">Unvisited</a></li>
{% endblock %}
{% block content %}
    {% regroup object_list|dictsort:"category_id" by category as category_list %}

    <div class="row section">
        <h1 id="overview" class="page-header clearfix">
            {% include "analytics/menu-button.html" %}
            <span class="hidden-xs">Daily Analysis</span>
            <span class="pull-right text-muted visible-print"><small>{{ today|date:"M j, Y" }}</small></span>
            <div class="btn-group pull-right hidden-print">
                <a class="btn btn-primary" role="button" href="/stories/{{ yesterday|date:"Y/m/d" }}/">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
                <button type="button" class="btn btn-primary">{{ today|date:"M j, Y" }}</button>
                <a class="btn btn-primary" role="button" href="/stories/{{ tomorrow|date:"Y/m/d" }}/">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </div>
        </h1>
        <div class="row">
        <div class="col-xs-4 col-sm-3 big-stat">
          <div class="well big-stat-box">
              <h1 class="num">{{ articles|length }}</h1>
              <span class="text-muted">Total Stories</span>
              <!-- <canvas id="total-stories-gauge" class="gauge"></canvas> -->
          </div>
        </div>
        <script>
        // $(document).ready(function() {
            
        
        //     var opts = {
        //       lines: 12, // The number of lines to draw
        //       angle: 0, // The length of each line
        //       lineWidth: 0.1, // The line thickness
        //       pointer: {
        //         length: 0.9, // The radius of the inner circle
        //         strokeWidth: 0, // The rotation offset
        //         color: '#333333' // Fill color
        //       },
        //       limitMax: 'false',   // If true, the pointer will not go past the end of the gauge
        //       colorStart: '#41759A',   // Colors
        //       colorStop: '#41759A',    // just experiment with them
        //       strokeColor: '#E0E0E0',   // to see which ones work best for you
        //       generateGradient: true
        //     };
        //     var gauge = new Gauge($('#total-stories-gauge').get(0)).setOptions(opts); // create sexy gauge!
        //     gauge.maxValue = 200; // set max gauge value
        //     gauge.animationSpeed = 10; // set animation speed (32 is default value)
        //     gauge.set({{ articles|length }}); // set actual value
        // });
        </script>
        <div class="col-xs-4 col-sm-3 big-stat">
            <div class="well big-stat-box">
          <h1 class="num">{{ unused|length }}</h1>
          <span class="text-muted">Unvisited Stories</span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-3 big-stat">
        <div class="well big-stat-box">
          <h1 class="num">{{ sections.count }}</h1>
          <span class="text-muted">Sections</span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-3 big-stat">
        <div class="well big-stat-box">
          <h1 class="num">{{ bylines.count }}</h1>
          <span class="text-muted">Bylines</span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-3 big-stat">
        <div class="well big-stat-box">
          <h1 class="big num">{{ totals.visits__sum|intcomma|or:"---" }}</h1>
          <span class="text-muted">Visits</span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-3 big-stat">
        <div class="well big-stat-box">
          <h1 class="big num">{{ totals.pageviews__sum|intcomma|or:"---" }}</h1>
          <span class="text-muted">Views</span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-3 big-stat">
        <div class="well big-stat-box">
          <h1 class="num">{{ totals.time_on_page__avg|floatformat:"0"|formatSeconds|or:"---" }}</h1>
          <span class="text-muted">Avg Time on Page</span>
          </div>
        </div>
        </div>
    </div>
    
    <div class="row section">
        <h1 id="bylines" class="page-header">Bylines</h1>
        <table class="table table-accordion table-sortable table-responsive table-accordion">
        <thead>
            <tr>
                <th class="icon"></th>
                <th class="icon sort" name="count">#</th>
                <th></th>
                <th></th>
                <th class="num sort" name="visits">Visits <small class="text-muted">(%)</small></th>
                <th class="num sort" name="pageviews">Views <small class="text-muted">(%)</small></th>
                <th class="num sort" name="time"><span class="glyphicon glyphicon-time"></span> Visit</th>
            </tr>
        </thead>
        {% for byline, group in bylines.list.items %}
        
        <tbody>
            <tr class="accordion">
                <td class="icon"><a href="/bylines/{{ byline.id }}/"><span class="glyphicon glyphicon-align-left"></span></a></td>
                <td class="icon" name="count"><span class="badge">{{ group.sums.count }}</span></td>
                <td class="handle" data-toggle="collapse" href="#collapse{{ byline|slugify }}">{{ byline }}</td>
                <td></td>
                <td class="num" name="visits">{{ group.sums.v|intcomma|or:"---" }} <small class="text-muted">({{ group.sums.p_t_v|floatformat:2|or:"---" }})</small></td>
                <td class="num" name="pageviews">{{ group.sums.pv|intcomma|or:"---" }} <small class="text-muted">({{ group.sums.p_t_pv|floatformat:2|or:"---" }})</small></td>
                <td class="num" name="time">{{ group.sums.top|formatSeconds|or:"---" }}</td>
            </tr>
            {% for article in group.group|dictsortreversed:"visits" %}
            <tr{% if article.status.name == "Don't Display" %} class="danger"{% endif %}>
                <td class="icon"><a href="{{ article.edit_url }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td class="icon"><a href="{{ article.view_url }}"><span class="glyphicon glyphicon-globe"></span></a></td>
                <td>{{ article.headline }}</td>
                <td>{{ article.category.name }}</td>
                <td class="num">{{ article.visits|intcomma|or:"---" }} <small class="text-muted">({{ article.p_t_v|floatformat:2|or:"---" }})</small></td>
                <td class="num">{{ article.pageviews|intcomma|or:"---" }} <small class="text-muted">({{ article.p_t_pv|floatformat:2|or:"---" }})</small></td>
                <td class="num">{{ article.time_on_page|formatSeconds|or:"---" }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
        </table>
    </div>

    <div class="row section">
        <h1 id="sections" class="page-header">Sections</h1>
        <table class="table table-accordion table-sortable table-responsive">
        <thead>
            <tr>
                <th class="icon"></th>
                <th class="icon sort" name="count">#</th>
                <th></th>
                <th></th>
                <th class="num sort" name="visits">Visits <small class="text-muted">(%)</small></th>
                <th class="num sort" name="pageviews">Views <small class="text-muted">(%)</small></th>
                <th class="num sort" name="time"><span class="glyphicon glyphicon-time"></span> Visit</th>
            </tr>
        </thead>
        {% for category, group in sections.list.items %}
        <tbody>

            <tr class="accordion">
                <td class="icon"></td>
                <td class="icon" name="count"><span class="badge">{{ group.sums.count }}</span></td>
                <td class="handle" data-toggle="collapse" href="#collapse{{ category|slugify }}">{{ category }}</td>
                <td></td>
                <td class="num" name="visits">{{ group.sums.v|intcomma|or:"---" }} <small class="text-muted">({{ group.sums.p_t_v|floatformat:2|or:"---" }})</small></td>
                <td class="num" name="pageviews">{{ group.sums.pv|intcomma|or:"---" }} <small class="text-muted">({{ group.sums.p_t_pv|floatformat:2|or:"---" }})</small></td>
                <td class="num" name="time">{{ group.sums.top|formatSeconds|or:"---" }}</td>
            </tr>

            {% for article in group.group|dictsortreversed:"visits" %}
            <tr{% if article.status.name == "Don't Display" %} class="danger"{% endif %}>
                <td class="icon"><a href="{{ article.edit_url }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td class="icon"><a href="{{ article.view_url }}"><span class="glyphicon glyphicon-globe"></span></a></td>
                <td>{{ article.headline }}</td>
                <td>{{ article.byline.name }}</td>
                <td class="num">{{ article.visits|intcomma|or:"---" }} <small class="text-muted">({{ article.p_t_v|floatformat:2|or:"---" }})</small></td>
                <td class="num">{{ article.pageviews|intcomma|or:"---" }} <small class="text-muted">({{ article.p_t_pv|floatformat:2|or:"---" }})</small></td>
                <td class="num">{{ article.time_on_page|formatSeconds|or:"---" }}</td>
            </tr>
            {% endfor %}

        </tbody>
        {% endfor %}

        </table>
    </div>

    <div class="row section">
        <h1 id="unvisited" class="page-header">Unvisited</h1>
        <div class="alert alert-warning">
            <strong>Notice!</strong> These stories were not found in the analytics report for the day of <strong>{{ today|date:"M j, Y" }}</strong>.
        </div>
        <table class="table table-outside table-responsive">
            <thead>
                <tr>
                    <th class="icon"></th>
                    <th class="icon"></th>
                    <th>Headline</th>
                    <th>Section</th>
                    <th class="num"><span class="glyphicon glyphicon-time"></span> Pub</th>
                </tr>
            </thead>
            {% for article in unused %}
            <tr{% if article.status.name == "Don't Display" %} class="danger"{% endif %}>
                <td class="icon"><a href="{{ EDIT_URL }}{{ article.id }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td class="icon"><a href="http://www.ocregister.com/articles/-{{ article.id }}--.html"><span class="glyphicon glyphicon-globe"></span></a></td>
                <td>{{ article.headline }}</td>
                <td>{{ article.category.name }}</td>
                <td class="num">{{ article.date|time:"H:i" }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}